@charset "utf-8";
/* CSS Document */
/* New, improved stylesheet for the image gallery module */
@media screen, print {

/* Gallery wrapper */
.gallery {
    float: none;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Embedded gallery */
.paragraph.gallery,
.paragraph .gallery {
    margin-bottom: 2em;
}

.portal ul.gallery {
    list-style-image: none;
}
/* captions */
.gallery .gallerythumb figcaption,
.highslide-caption {
    display: none;
}

.gallerythumb, 
.gallerythumb a {
    line-height: 0;
}

.gallerythumb {
    float: left;
    margin: 0 1% 1% 0;
    background: orange;
    width: auto;
    width: 15.6667%;
    position: relative;
}

.gallerythumb a {
    display: block;
    position: relative;
    border: 1px solid #999;
    border: 1px solid #eee;
}

.gallerythumb a:hover {
    background-color: #eee;
    border: 1px solid #eee;
    border: 1px solid #999;
}

.gallerythumb a img {
    width: 100%;
}

.gallerythumb a img:hover {
}

.gallerythumb .image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.1);
}

.gallerythumb .image-overlay:hover {
    background: rgba(0, 0, 0, 0.0);
}

.gallerythumb__title {
    position: absolute;
    display: block;
    left: 1px;
    right: 1px;
    bottom: 1em;
    padding: 0.5em 1em;
    background: #000;
    background: rgba(0,0,0,0.75);
    color: #fff;
    font-size: smaller;
    text-align: center;
    line-height: 1em;
}

/************ Gallery-list *************/
.galleries .gallery img {
    float: left;
    margin: 0 0.5em 0.5em 0; 
}
.galleries .gallery h2,
.galleries .gallery h3 {
    margin: 0 0 0.25em 0;
    padding:0;
}
.galleries .gallery {
    overflow: auto;
    margin-bottom: 1em;
}
}